* {
    font-family: 'Inter', sans-serif;
    color: black;
    vertical-align: baseline;
    font-weight: inherit;
    font-style: inherit;
    font-size: 100%;
    border: 0 none;
    outline: 0;
    padding: 0;
    margin: 0;
}


.dark-mode{
    background-color: black;
}

h1 {
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
}

h2 {
    font-family: Hammersmith One, sans-serif;
    font-size: 96px;
    font-weight: 400;
    line-height: 120px;
}

p {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
}

.image-32px {
    height: 32px;
    width: 32px;
}

header {
    background-color: black;
    height: 5vh;
    width: 100%;
}

/*
Section accueil
*/

#Accueil {
    background-color: aquamarine;
    height: 95vh;
    width: 100%;
}


/*
 Header navbar
*/
.header-navbar {
    display: block;
    background-color: red;
    padding: 10px;
    margin: 10px;
}

.header-navbar ul {
    background-color: #333;
    list-style-type: none;
}

.header-left-side {
    float: left;
}

.header-right-side {
    float: right;
}

.header-navbar li {
    display: inline;
}

.header-navbar li a {
    list-style-type: none;
    padding: 10px;
    text-decoration: none;
    align-items: center;
}