* {
    font-family: 'Inter', sans-serif;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
    color: black;
    padding: 0;
    margin: 0;
    z-index: 1;
}

/*#Accueil, #Compétences, #Projets, footer, header {*/
/*    padding-right: 20%;*/
/*    padding-left: 20%;*/
/*}*/

body {
    padding-right: 20%;
    padding-left: 20%;
    background-color: #C1CEFF;
}

h1 {
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
}

h2 {
    font-family: Hammersmith One, sans-serif;
    font-size: 96px;
    font-weight: 400;
    line-height: 120px;
}

h4 {
    font-size: 30px;
}

h5 {
    font-size: 20px;
    font-weight: 400;
}

.title {
    display: flex;
    justify-content: center;
}

p {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
}

img {
    pointer-events: none;
    user-select: none;
}

img.image-32px {
    height: 32px;
    width: 32px;
}

.dark-blue-800 {
    fill: #001630;
}

.dark-blue-600 {
    fill: #003574;
}

.svg {
    width: 32px;
    height: 32px;
}

.links {
    display: flex;
    gap: 10px;
    margin-left: 10px;
}

a {
    text-decoration: none;
}

/*
* Header
*/

header {
    position: absolute;
    /*width: 100vh;*/
}

.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.header-left-side {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.header-right-side {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}

.bold {
    font-weight: 700;
}

/*
Section accueil
*/

#Accueil {
    background: radial-gradient(50% 50% at 50% 50%, #FFFFFF 0%, #C1CEFF 100%);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

section#Accueil .middle-zone {
    display: grid;
    grid-template-columns: 5fr 2fr;
    align-items: center;
    grid-gap: 2rem;
}

section#Accueil .home-text {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

section#Accueil h3 {
    font-size: 40px;
}

section#Accueil .middle-zone div.text-zone {
}

section#Accueil .middle-zone div.profil-picture img {
    width: 300px;
    height: 300px;
    filter: drop-shadow(0px 4px 16px rgba(0, 0, 0, 0.88));
    border-radius: 287px;
    position: relative;
}

section#Accueil .home-icons {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}
section#Accueil .home-icon {
    padding-top: 10px;
}
.profil-picture {
    display: flex;
    align-items: center;
    justify-content: center;
}

.profil-picture img {
    display: block;
    margin: 0 auto;
}


/*
    Compétences
*/
#Compétences {
    background: radial-gradient(50% 50% at 50% 50%, #FFFFFF 0%, #C1CEFF 100%);
    height: 100vh;
    display: grid;
}

#Compétences .competences {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    padding-top: 5vh;
}

#Compétences .text {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    justify-content: center;
}

#Compétences .text.dev {
    margin: 5vh;
}

#Compétences .grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 10px;
    row-gap: 3vh;
    column-gap: 1vw;
}


#Compétences .box {
    width: 5vw;
    height: 5vw;
    background-color: #acb6f4;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#Compétences .svg64 {
    width: 3.5vw;
    height: 3.5vw;
}

#Compétences .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    gap: 5px;
}

#Compétences .comp-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

#Compétences .texts {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#Compétences .level {
    font-size: 12px;
    color: #858EB0;
}



/*
    Projets
*/


#Projets {
    background: radial-gradient(50% 50% at 50% 50%, #FFFFFF 0%, #C1CEFF 100%);
    height: 100vh;
}


/*
    Footer
*/

.main-footer-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2vh;
}

.icons {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 2vh;
}

.develop-by {
    padding: 2vh;
}

.icon {
    margin-left: 2vh;
    margin-right: 2vh;
}

.footer-line {
    width: 425px;
    height: 0;
    border: 3px solid rgba(0, 53, 116, 0.39);
    border-radius: 20px;
}

footer {
    background: #B7C6FF;
}